@page
@model YomiOlatunji.Areas.Admin.Pages.Subscriptions.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Subscription</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subscription.EmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subscription.EmailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subscription.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subscription.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subscription.Subscribed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subscription.Subscribed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subscription.UnsubscribeDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subscription.UnsubscribeDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subscription.UnsubscribeReason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subscription.UnsubscribeReason)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subscription.CreateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subscription.CreateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subscription.CreateBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subscription.CreateBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subscription.UpdateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subscription.UpdateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subscription.UpdateBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subscription.UpdateBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subscription.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subscription.IsDeleted)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Subscription.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
