@page
@model YomiOlatunji.Areas.Admin.Pages.Posts.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
<div class="main">
    <div class="section">
        <div class="container">

            <div>
                <h4>Post</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Post.Category)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Post.Category.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Post.Title)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Post.Title)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Post.Content)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Post.Content)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Post.Excerpt)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Post.Excerpt)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Post.Slug)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Post.Slug)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Post.HeaderImage)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Post.HeaderImage)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Post.CanComment)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Post.CanComment)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Post.IsPublished)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Post.IsPublished)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Post.IsArchived)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Post.IsArchived)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Post.PublishDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Post.PublishDate)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Post.AuthorizeTime)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Post.AuthorizeTime)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Post.AuthorizedBy)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Post.AuthorizedBy)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Post.IsAuthorized)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Post.IsAuthorized)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Post.CreateTime)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Post.CreateTime)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Post.CreateBy)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Post.CreateBy)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Post.UpdateTime)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Post.UpdateTime)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Post.UpdateBy)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Post.UpdateBy)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Post.IsDeleted)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Post.IsDeleted)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-page="./Edit" asp-route-id="@Model.Post?.Id">Edit</a> |
                <a asp-page="./Index">Back to List</a>
            </div>
        </div>
    </div>
</div>
